<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>

  <style>
    .anuncio {
      border: 2px, black;
      padding: 10px;
      text-align: center;
      margin: 5px;

    }

    .foto {
      margin: 5px;
      /*padding: 20px; */
    }

    .nombre {
      font-weight: bold;
    }

    .img {
      margin: auto;
      display: block;
    }
  </style>

  <img class="img" src='/images/logonode.jpg' alt="Generic placeholder image">

  Tags disponibles: work, lifestyle, motor
  y mobile

   
  <% anuncios.forEach(anuncio => { 
    console.log('holi');
    let venta;

    if (anuncio.venta === true) {
    
    venta = 'Se vende';
  } else { venta = 'Se busca'} 
    %>
   

  <div class="media border">
    <img class="align-self-start mr-3 foto" src="<%=anuncio.foto %>"" alt=" Generic placeholder image">
    <div class="media-body">
      <h5 class=<%= anuncio.nombre %></h5>
        <p class="card-text nombre"> Nombre: <%= anuncio.nombre %></p>
        <p class="card-text">  <%= venta %></p>
        <p class="card-text"> Precio: <%= anuncio.precio %> €</p>
        <p class="card-text"> Tags: <%= anuncio.tags %></p>



    </div>
  </div>










  <% }) %>

  <script>

    async function main() {


    }

  </script>

</body>

</html>